{{define "login.html"}}
<!doctype html>
<html>
  <head>
    <title>Ephemeral - Login</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <main>
      <h1>Ephemeral Login</h1>
      {{if .IsSetup}}
      <p>First time setup: Create your account.</p>
      {{end}} {{if .Error}}
      <p style="color: red">{{.Error}}</p>
      {{end}}

      <form method="POST" action="/api/login">
        <label>Username:</label><br />
        <input type="text" name="username" required /><br />

        <label>Password:</label><br />
        <input type="password" name="password" required /><br />

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
{{end}}
