{{define "item_file"}}
<div>
  <div class="bubble-file-meta">
    <span class="bubble-file-name">{{.Filename}}</span>
    <span class="bubble-file-size">{{formatSize .Filesize}}</span>
  </div>

  <div class="bubble-file-actions">
    <a
      href="{{fileURL .Content}}"
      target="_blank"
      rel="noopener noreferrer"
      class="file-action-link"
    >
      View
    </a>
    <a
      href="{{fileURL .Content}}"
      download="{{.Filename}}"
      class="file-action-link"
    >
      Download
    </a>
  </div>
</div>
{{end}}
