{{define "item_image"}}
<div>
  <dialog
    x-ref="imgDialog_{{.ID}}"
    class="media-dialog"
    tabindex="-1"
    @keydown.window="handleMediaDialogKeydown($event, $el)"
  >
    {{template "media_dialog_actions" .}} {{template "media_dialog_nav_chat" .}}

    <img
      src="{{fileURL .Content}}"
      alt="{{.Filename}}"
      class="media-dialog-img"
      onload="fitMediaElement(this)"
    />
  </dialog>

  <img
    src="{{fileURL .Content}}"
    alt="{{.Filename}}"
    class="bubble-image"
    @click="openMediaDialog($refs.imgDialog_{{.ID}})"
    style="cursor: pointer"
  />

  <div class="bubble-file-meta">
    <span class="bubble-file-name">{{.Filename}}</span>
    <span class="bubble-file-size">{{formatSize .Filesize}}</span>
  </div>
</div>
{{end}}
