{{define "item_file"}}
<div>
  <div class="bubble-file-meta">
    <span class="bubble-file-name">{{.Filename}}</span>
    <span class="bubble-file-size">{{formatSize .Filesize}}</span>
  </div>

  <div class="bubble-file-actions">
    <button
      type="button"
      class="file-action-link"
      data-preview-id="{{.ID}}"
      data-file-url="{{fileURL .Content}}"
      onclick="openTextViewer(this)"
    >
      View
    </button>
    <a
      href="{{fileURL .Content}}"
      download="{{.Filename}}"
      class="file-action-link"
    >
      Download
    </a>
  </div>
</div>
{{end}}
